#container {
	margin: 0;
}

#banner {
	display: none;
}

#banner-print {
	display: block;
}

#banner-print h1 {
	font-family: georgia, serif;
	font-size: 16px;
}

#banner-print a {
	text-decoration: none;
}

#sidebar {
	display: none;
}

#footer ul {
	display: none;
}

.box {
	padding: 5px;
}