@font-face {
	font-family: 'Socialico';
	src: url('Socialico.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 16px;
	color: #555;
}

#content a, footer a {
	color: #990000;
}

#content a:visited, footer a:visited {
	color: #990000;
}

#content a:active, footer a:active {
	color: #990000;
}

#content a:hover, footer a:hover {
	color: #b0b0b0;
}

#datestamp {
	margin: 20px auto;
	color: #b0b0b0;
}

.blurb {
	margin-bottom: 20px;
}

.post {
	margin-bottom: 50px;
}

code, .highlight {
	font-family: 'andale mono', 'lucida console', monospace;
	font-size: 14px !important;
  overflow: auto;
}

.highlight {
	padding: 10px;
	margin: 10px auto;
}

#content {
	margin-bottom: 50px;
	font-size: 16px !important;
}

#content * {
	font-size: 100%;
}

#content h1 {
	font-size: 200%;
}

#content h2 {
	margin-top: 20px;
	font-size: 160%;
}

#content h3 {
	margin-top: 20px;
	font-size: 120%;
}

#content ul {
	list-style-type: square;
	margin-left: 20px;
}

.content_img {
	float: right;
	border: 1px solid #ccc;
	margin: 20px 0 20px 20px !important;
}

footer {
	margin-top: 40px;
}

#social {
	font-family: 'Socialico' !important;
	text-align: right;
	font-size: 48px;
}

#social a:hover {
	text-decoration: none;
}

.hero-unit img {
	
}

#sharing {
	height: 40px;
	font-size: 11px !important;
	vertical-align: middle;
	margin: 20px auto;
}

.book img {
	float: right;
	border: 1px solid #ccc;
}