@font-face {
	font-family: 'Socialico';
	src: url('Socialico.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 16px;
	color: #555;
}

#datestamp {
	margin: 20px auto;
	color: #b0b0b0;
}

.blurb {
	margin-bottom: 20px;
}

.post {
	margin-bottom: 50px;
}

code, .highlight {
	font-family: 'andale mono', 'lucida console', monospace;
	font-size: 14px !important;
}

.highlight, pre, code {
  overflow: auto !important;
}

#content {
	margin-bottom: 50px;
	font-size: 16px !important;
}

#content * {
	font-size: 100%;
	line-height: 150%;
}

#content h1 {
	font-size: 200%;
}

#content h2 {
	margin-top: 20px;
	font-size: 160%;
}

#content h3 {
	margin-top: 20px;
	font-size: 120%;
}

#content ul {
	list-style-type: square;
	margin-left: 20px;
}

.well ul li {
	list-style-type: square;
	margin-bottom: 15px;
}

.content_img {
	float: right;
	border: 1px solid #ccc;
	margin: 20px 0 20px 20px !important;
}

footer {
	margin-top: 40px;
}

#sharing {
	height: 40px;
	font-size: 11px !important;
	vertical-align: middle;
	margin: 20px auto;
}

.hero-unit img {
	border: 1px solid #ccc;
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

.hero-unit p {
	font-size: 160%;
	line-height: 180%;
}

.book img {
	float: right;
	border: 1px solid #ccc;
}