@import "variables";
@import "bootstrap";
@import "font-awesome";
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);

.post {
  margin-bottom: 40px;
}

.full-post {
  a {
    text-decoration: underline;
  }
}

.highlight, pre, code {
  overflow: auto !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.social {
  font-size: 200% !important;
  margin-right: 20px;
}

.nav {
  .social {
    font-size: 150% !important;
    margin: inherit;
  }
}

.fa {
  .fa-label {
    display: none;
  }
}

#footer * {
  padding-bottom: 10px;
}

#sidebar {
  img {
    border: 1px solid #000;
    margin: auto auto 10px 10px;
  }
}

#book-cta {
  h3 {
    margin-top: 0;
  }

  .btn {
    text-decoration: none;
  }

  img {
    margin: 0 auto 10px 10px;
  }
}
