@import "variables";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700);

.post {
  margin-bottom: 40px;
}

.highlight, pre, code {
  overflow: auto !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.social {
  font-size: 200% !important;
  margin-right: 20px;
}

.nav {
  .social {
    font-size: 150% !important;
    margin: inherit;
  }
}
