---
layout: default
title: Everyday Rails
excerpt: "A blog about using the Ruby on Rails web application framework to get stuff done as a web developer. New content every week or so."
---

<div class="box">
  Support Everyday Rails by shopping from <a href="reading.html">my reading list of recommended books on Ruby and Rails development</a>. Thank you!
</div>

{% for post in site.posts limit:10 %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    {{ post.excerpt }}

    ({{ post.date | date: "%B %d, %Y"  }})

  </div>
{% endfor %}

<div id="archives-link">
  <a href="/archives.html">More in the archives</a>
</div>
  
{% include bottom_ads.html %}
