<div id="book-cta" class="well">
  <a href="https://leanpub.com/everydayrailsrspec"><img src="/images/rspec_book.jpg" class="pull-right" style="border: 1px solid #000" alt="" width="75" height="97" /></a>
  <h3>Rails testing made simple</h3>
  <p>
    Learn to test Rails apps the way
    I learned, building up tests step-by-step, in
    <a href="https://leanpub.com/everydayrailsrspec"><em>Everyday Rails Testing
      with RSpec</em></a>.
    Expanded to include exclusive content and a complete sample Rails application.
    <a href="https://leanpub.com/everydayrailsrspec" class="btn btn-primary btn-xs">
      Learn more »</a>
  </p>
  <p>
    <a href="http://amzn.to/2AiYnW1">Also available on Amazon.com</a>.
  </p>
</div>