<footer class="my-10 text-sm">
  <div class="mb-3 font-semibold">
    <a class="mr-3" href="/">Home</a>
    <a class="mr-3" href="/about.html">About</a>
    <a class="mr-3" href="/archives.html">Archives</a>
    <a class="mr-3" href="/contact.html">Contact</a>
  </div>

  <div>
    Everyday Rails is written by <a href="http://www.aaronsumner.com/">Aaron Sumner</a>.
    Thanks for reading.
  </div>
  <div class="mt-3">
    <img class="h-4 inline" src="/images/ccheart_black.svg" alt="Creative Commons" />
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">BY-SA 3.0</a>
  </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1291847-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>