<hr />
  <div class="row">
    <footer id="footer" class="col-sm-12">
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></a>

        Everyday Rails is written by <a href="http://www.aaronsumner.com/">Aaron Sumner</a>.
        Hosted by <a href="https://www.linode.com/?r=d3a98e56fb377eb9f9b52455f069b0b6029908b9">Linode</a>.
        Thanks for reading.
      </p>
    </footer>
  </div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1291847-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>