<footer class="my-10 text-sm border-t-2 pt-5">
  <div class="mb-3 font-semibold">
    <a class="mr-3" href="/">Home</a>
    <a class="mr-3" href="/about.html">About</a>
    <a class="mr-3" href="/archives.html">Archives</a>
    <a class="mr-3" href="/contact.html">Contact</a>
  </div>

  <div>
    Everyday Rails is written by <a href="http://www.aaronsumner.com/">Aaron Sumner</a>.
    Thanks for reading.
  </div>
  <div class="mt-3">
    <img class="h-4 inline" src="/images/ccheart_black.svg" alt="Creative Commons" />
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">BY-SA 3.0</a>
  </div>
</footer>
