<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<meta name="author" content="Aaron Sumner" />
	<meta name="description" content="{{ page.excerpt }}">

  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href="/stylesheets/site.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/syntax.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
  
  <link href="{{ site.feed }}" rel="alternate" title="RSS" type="application/rss+xml" />
</head>
<body>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1291847-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <div id="container" class="container">
    <div id="banner">
      <h1><a href="/">Everyday Rails</a></h1>
    </div>
    <div id="banner-print">
      <h1><a href="http://everydayrails.com/">Everyday Rails: Get stuff done as a web developer.</a></h1>
    </div>