<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }} | Everyday Rails</title>

  <meta name="author" content="Aaron Sumner" />
  <meta name="description" content="{{ page.excerpt }}">

  <link href="/css/site.css" rel="stylesheet">
  <link href="/css/syntax.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />

  <link href="{{ site.feed }}" rel="alternate" title="RSS" type="application/rss+xml" />
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Everyday Rails" src="/images/logo-small.png" style="margin-top:-5px;" width="160" height="37" />
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about.html">About</a></li>
        <li><a href="/archives.html">Archives</a></li>
        <li><a href="/reading.html">Reading List</a></li>
        <li><a href="mailto:aaron@everydayrails.com?subject=Everyday Rails Feedback" title="Send me an email"><span class="fa fa-envelope social" aria-hidden="true" aria-label="Email"><span class="fa-label">Email</span></span></a></li>
        <li><a href="{{ site.twitter }}" title="Follow @everydayrails on Twitter"><span class="fa fa-twitter-square social" aria-hidden="true" aria-label="Twitter"><span class="fa-label">Twitter</span></span></a></li>
        <li><a href="{{ site.facebook }}" title="Follow Everyday Rails on Facebook"><span class="fa fa-facebook-square social" aria-hidden="true" aria-label="Facebook"><span class="fa-label">Facebook</span></span></a></li>
        <li><a href="https://plus.google.com/113033588201751588171"
               rel="publisher" title="Follow Everyday Rails on Google+"><span class="fa fa-google-plus-square social" aria-hidden="true" aria-label="Google+"><span class="fa-label">Google+</span></span></a></li>
        <li><a href="{{ site.feed }}" title="Add Everyday Rails to your feed reader"><span class="fa fa-rss-square social" aria-hidden="true" aria-label="Feed"><span class="fa-label">Feed</span></span></a></li>
      </ul>
    </div>
  </nav>
