<header class="px-5 md:px-10 lg:px-20 py-3 bg-gray-300 font-semibold flex">
  <div class="w-full md:w-1/2">
    <a href="/"><img class="h-15 md:h-10" img src="/images/logo-2020.svg" alt="Everyday Rails" /></a>
  </div>
  <div class="hidden md:inline md:w-1/2">
    <div class="text-right">
      <a class="ml-5" href="/about.html">About</a>
      <a class="ml-5" href="/archives.html">Archives</a>
      <a class="ml-5" href="/blm.html">Black Lives Matter</a>
      <a class="ml-5" href="/contact.html">Contact</a>
    </div>
  </div>
</header>
