<header class="px-5 md:px-10 lg:px-20 py-3 font-semibold flex">
    <div class="w-full md:w-1/2">
        <a href="/"
            ><img
                class="h-30 md:h-26"
                img
                src="/images/left-of-the-dev-logo.png"
                alt="Left of the Dev"
        /></a>
    </div>
    <div class="hidden md:inline md:w-1/2">
        <div class="text-right">
            <a class="ml-5" href="/about.html">About</a>
            <a class="ml-5" href="/archives.html">Archives</a>
            <a class="ml-5" href="/blm.html">Black Lives Matter</a>
            <a class="ml-5" href="/contact.html">Contact</a>
        </div>
    </div>
</header>
