<div id="referrals">
  <h3>Affiliate links</h3>

  <p>
    Do me a favor and support these great companies. Sign up through these
    links to help keep Everyday Rails going. Thanks for your support.
  </p>

  <p>
    <a href="https://www.linode.com/?r=d3a98e56fb377eb9f9b52455f069b0b6029908b9"><img src="/images/linode.png" alt="" width="150" /></a>
    <strong><a href="https://www.linode.com/?r=d3a98e56fb377eb9f9b52455f069b0b6029908b9">Linode</a></strong>
    is my preferred cloud hosting provider for Everyday Rails and other
    projects. Fast, SSD-based servers, great uptime, and awesome tooling and
    support.
  </p>

  <p>
    <a href="https://hover.com/Rw2hEVA2"><img src="/images/hover.png" alt="" width="150" /></a>
    I use <strong><a href="https://hover.com/Rw2hEVA2">Hover</a></strong> for my
    domain name registry and DNS management. They're simple, affordable,
    reliable, and ethical.
  </p>
</div>