<div id="sharing">
  <h3>Share this page</h3>

  <a onClick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=550,height=300&#39;);return false;" href="https://twitter.com/share?text={% if page.title %}{{ page.title }}{% else %}Everyday Rails{% endif %} by @everydayrails&amp;url=http://everydayrails.com{{ page.url }}">
     <span class="fa fa-twitter social" aria-hidden="true" aria-label="Share on Twitter">
       <span class="fa-label">Share on Twitter</span>
     </span>
  </a>

  <a onClick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=550,height=300&#39;);return false;" href="http://www.facebook.com/sharer.php?u=http://everydayrails.com{{ page.url }}">
    <span class="fa fa-facebook social" aria-hidden="true" aria-label="Share on Facebook">
      <span class="fa-label">Share on Facebook</span>
    </span>
  </a>

  <a onClick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=550,height=300&#39;);return false;" href="https://plus.google.com/share?url=http://everydayrails.com{{ page.url }}">
    <span class="fa fa-google-plus social" aria-hidden="true" aria-label="Share on Google+">
      <span class="fa-label">Share on Google+</span>
    </span>
  </a>

  <a href="mailto:?body={{ page.title }}%20-%20http://everydayrails.com{{ page.url }}&amp;subject={{ page.title }}">
    <span class="fa fa-envelope social" aria-hidden="true" aria-label="Share by Email">
       <span class="fa-label">Share by Email</span>
    </span>
  </a>
</div>
