<div id="sidebar" class="four columns">
  <div class="panel">
    <h3>Reading List</h3>
    <p>Support Everyday Rails by checking out my 
      <a href="http://astore.amazon.com/everrail-20" target="new">recommended Ruby books and gear</a>.
    </p>
    
    <script type="text/javascript"><!--
    amazon_ad_tag="everrail-20"; 
    amazon_ad_width="180"; 
    amazon_ad_height="150"; 
    amazon_color_border="990000"; 
    amazon_color_logo="FFFFFF"; 
    amazon_color_link="990000"; //--></script>
    <script type="text/javascript" src="http://www.assoc-amazon.com/s/asw.js"></script>
  </div>
</div>