<div id="sidebar" class="four columns">
  <div class="panel book">
    <h3>My new RSpec book</h3>
    <a href="http://leanpub.com/everydayrailsrspec"><img src="/images/rspec_book.jpg" alt=""></a>
    <p>
      Practical advice for adding reliable tests to your Rails apps with RSpec.
      Includes expanded, exclusive content and a complete sample Rails application.
      <strong><a href="http://leanpub.com/everydayrailsrspec">Get it now for only $9.</a></strong>
    </p>
    
    <p>
      <a href="http://leanpub.com/everydayrailsrspec" class="maroon button radius">Buy now</a>
    </p>
  </div>
  
  <div class="panel">
    <h3>Free newsletter</h3>
    
    <p>
      Ruby on Rails news and tips, and other ideas and surprises from Aaron at Everyday Rails.
      Delivered about once a month to your inbox.
    </p>
    
    <p>
      <a href="http://eepurl.com/nRW0z" class="maroon button radius">Subscribe for free</a>
    </p>
  </div>
</div>