<div id="sidebar" class="col-sm-12 col-md-4 hidden-print">
  <div class="well">
    <h3>Test with confidence!</h3>
    <div>
      <a href="https://leanpub.com/everydayrailsrspec"><img src="/images/rspec_book.jpg" class="pull-right" alt="" /></a>
      <p>
        If you liked my series on practical advice for adding reliable tests to
        your Rails apps, check out the expanded ebook version. Lots of
        additional, exclusive content and a complete sample Rails application.
      </p>
      <a class="btn btn-sm btn-primary" href="https://leanpub.com/everydayrailsrspec">Start testing now »</a>
      <p>
        <a href="http://amzn.to/2AiYnW1">Also available on Amazon.com</a>.
      </p>
    </div>
  </div>

  <div>
    <h3>Newsletter</h3>
    <div>
      <p>
        Ruby on Rails news and tips, and other ideas and surprises from Aaron at
        Everyday Rails. Delivered to your inbox.
      </p>
      <a class="btn btn btn-sm btn-primary" href="http://eepurl.com/nRW0z">Subscribe now for free »</a>
    </div>
  </div>

  <div id="tag-cloud">
    <h3>Tags</h3>
    {{ site | tag_cloud }}
  </div>

  {% include sharing.html %}
</div>
