<h2>Discussion</h2>

<script src="https://utteranc.es/client.js" repo="everydayrails/everyday-rails" issue-term="pathname"
  label="blog-comment" theme="github-light" crossorigin="anonymous" async>
  </script>

<div class="mt-3 p-3 bg-gray-100 rounded">
  Follow along on on
  <a href="https://mastodon.social/@ruralocity">Mastodon</a>,
  <a href="https://facebook.com/everydayrails">Facebook</a>, or
  <a href="https://bsky.app/profile/ruralocity.bsky.social">Bluesky</a>
  to keep up-to-date with my latest posts. Better yet,
  <a href="http://eepurl.com/nRW0z">subscribe to my newsletter</a> for
  updates from Everyday Rails, book picks, and other thoughts and ideas that
  didn't quite fit here.
</div>

<div class="mt-3 p-3">
  <a href="https://www.buymeacoffee.com/aaronsumner" target="_blank"><img
      src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
      style="height: 60px !important;width: 217px !important;"></a>
</div>
