{% include header.html %}

<div class="container">
  <div class="hero-unit">
    <div class="row">
      <div class="span7">
        <h1>A practical guide to testing in Rails</h1>
        <p>
          Practical advice for adding reliable tests to your Rails
          apps with RSpec. Includes expanded, exclusive content and a
          complete sample Rails application. Now updated for Rails 4.0,
          Capybara 2.1, Factory Girl 4.2, and RSpec 2.14!
        </p>

        <p>
          <a class="btn btn-primary btn-large" href="http://leanpub.com/everydayrailsrspec">Buy now for only $19 &raquo;</a>
        </p>

        <div class="small">
          Already purchased? <a href="https://leanpub.com/dashboard">Sign into Leanpub and download the latest version for free</a>.
        </div>

      </div>
      <div class="span3">
        <a href="http://leanpub.com/everydayrailsrspec"><img src="images/rspec_book_large.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="content" class="span8">
      {{ content }}
    </div>
    {% include sidebar.html %}
  </div>

  {% include footer.html %}
</div>
</body>
</html>
