@import "blueprint";

$link: #900;
$background: #FFF0FF;

body {
	font-family: georgia, serif;
	font-size: 16px;
}

a { text-decoration: none; }
a:link { color: $link; }
a:visited {color: $link; }
a:hover { text-decoration: underline; }
a:active { color: $link; }

ul {
	list-style-type: square;
}

#banner {
  @include column(24);
  margin-top: 10px;
}

#banner h1 {
	font-size: 600%;
}

#banner-print {
  display: none;
}

#content {
  @include column(17);
  @include append(1);
}

#content h2, #content h3, #content h4 {
	margin: 0 0 3px 0;
	padding: 0;
}

#content ul {
	margin: 5px auto 20px -30px;
}

#content a {
	text-decoration: underline;
}
#content a:hover {
	text-decoration: none;
}

.wide-content {
  @include column(24, true);
}

#sidebar {
  @include column(6, true);
  @include last;
}

#footer {
  @include column(24);
	margin-top: 50px;
	text-align: left;
}

#footer ul {
	margin: 0 auto 20px auto;
	list-style-type: none;
	padding: 0;
}

#footer ul li {
	display: inline;
	margin: 0 20px 0 0;
}

#footer img {
	border-style: none;
}

.box {
	background-color: $background;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px auto;
}

.box ul {
	margin-left: -35px;
	margin-bottom: 0;
}

code, .highlight {
	font-size: 14px;
	overflow: auto;
}

.code {
	font-weight: bold;
}

.post, .archives-link {
  @include append-bottom;
}
